/*-------------------MOBILE LAYOUT------------------*/
@media (min-width: 320px) {

/*-----GENERAL STYLING-----*/
font-family: 'Niramit', sans-serif;

/*-----HEADER STYLING-----*/
.banner {
  text-align: center;
  background-color: blue;
}
}



















/*-------------------DESKTOP LAYOUT------------------*/
  @media (min-width: 768px) {

font-family: 'Quicksand', sans-serif;


  }
